{% extends 'base.html.twig' %}

{# Import menu #}
 {% block menu %}
     {{ parent() }}
 {% endblock %}

{% block title %}Home{% endblock %}

{% block body %}

    <div class="welcome">
        {# If userd already connect #}
        {% if app.user %}
            <h1> welcome, {{ app.user.email }} !</h1>
        {% else %}
            <h1>Home</h1>
        {% endif %}
    </div>

    <h1 id="titleRecipes">{% trans %}The recipes{% endtrans %}</h1>

    {% if is_granted('ROLE_AUTHOR') %}
        <div class="m-2">
            <a href="{{ path("article_add")}}">{% trans %}Add article{% endtrans %}</a>
        </div>
    {% endif %}

    {% for article in articles %}
        <div>
            {% if article.picture  %}
                <img class="imageArticles" src="{{ article.picture }}" alt="picture recipe">
            {% else %}
                <img class="imageArticles" src="https://via.placeholder.com/200x100" alt="picture recipe by default">
            {% endif %}
        </div>
        <div>
            <h3>{{ article.title }}</h3>
            <h4>{{ article.level }}</h4>
            <p>{{ article.createdAt|date("m/d/Y") }}</p>
            <p>{{ article.preparaionTime }}</p>
            <p><a href="{{ path('article_index', { 'id': article.id}) }}">Read more</a></p>
        </div>

    {% endfor %}


{% endblock %}