{% extends 'base.html.twig' %}

{# Import menu #}
 {% block menu %}
     {{ parent() }}
 {% endblock %}

{% block title %}Accueil{% endblock %}

{% block body %}
    {% if app.user %}
        <h1>Accueil, bienvenue {{ app.user.email }} !</h1>
    {% else %}
        <h1>Accueil</h1>
    {% endif %}


    {% for category in categories %}
        <div>
            <a href="{{ path('article_single', { 'id': category.id}) }}">{{ category.name }}</a>
        </div>
    {% endfor %}
    {% if articles|length > 0  %}
        {% for article in articles %}
            <div>
                <h3>{{ article.title }}</h3>
                <p>{{ article.category.name }}</p>
                <p>{{ article.author.email }}</p>
                <p>{{ article.datetime|date("m/d/Y") }}</p>
                <p><a href="{{ path('article_single', { 'id': article.id}) }}">Lire l'article</a></p>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}