{% extends 'base.html.twig' %}

{# Import menu #}
 {% block menu %}
     {{ parent() }}
 {% endblock %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}

    <h2>{{ category.name }}</h2>
    {% if is_granted('ROLE_AUTHOR') %}
        <div>
            <a href="{{ path("article_add", {'id': category.id}) }}">Créer un article</a>
        </div>
    {% endif %}

    {% if articles|length > 0  %}
        {% for article in articles %}
            <div>
                <h3>{{ article.title }}</h3>
                <p>{{ article.author.email }}</p>
                <p>{{ article.datePostArticle|date("m/d/Y") }}</p>
                <p><a href="{{ path('article_list', { 'id': article.id}) }}">Lire l'article</a></p>
            </div>
        {% endfor %}
    {% endif %}

{% endblock %}
