{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <form method="post">
        {% if error %}
            <div class="alert_dangerous">{{ error.messageKey|trans(error.messageData. 'security') }}</div>
        {% endif %}
        {% if app.user %}
            <div>You are logged in as {{ app.user.email }}. <a href="{{ path('app_logout') }}">Déconnexion</a></div>
        {% endif %}

        <h1>Se connecter</h1>
        <label for="inputEmail">Votre adresse email : </label>
        <input type="email" value="{{ email_user }}" name="email" id="inputEmail" autocomplete="email" required autofocus>
        <label for="inputPassword">Votre mot de passe: </label>
        <input type="password" name="password" id="inputPassword" autocomplete="current-password" required>
        <input type="hidden" name="csrf_token" value="{{ csrf_token('authenticate') }}">

        <div>
            <label for="remember_me">
                <input type="checkbox" name="remember_me"> Se souvenir de moi !
            </label>
        </div>
        <button type="submit">Connexion</button>

        <p>Pas encore de compte ! <a href="{{ path('app_register') }}">Inscription</a></p>

    </form>
{% endblock %}
