{% extends 'base.html.twig' %}

{# Import menu #}
 {% block menu %}
     {{ parent() }}
 {% endblock %}

{% block title %}Tous les articles !{% endblock %}

{% block body %}
    {% if is_granted('ROLE_USER') %}
        {% if articles|length > 0  %}
            {% for article in articles %}
                <div>
                    <h3>{{ article.title }}</h3>
                    <p>{{ app.user.email }}</p>
                    <p>{{ article.datePostArticle|date("m/d/Y") }}</p>
                    <p>{{ article.picture }}</p>
                    <p>{{ article.content }}</p>
                    <p><a href="{{ path('article_index', { 'id': article.id}) }}">Lire l'article complet</a></p>
                </div>
            {% endfor %}
        {% endif %}
    {% endif %}

{% endblock %}



