{% extends 'base.html.twig' %}

{# Import menu #}
 {% block menu %}
     {{ parent() }}
 {% endblock %}

{% block title %}All recipes !{% endblock %}

{% block body %}
    {% if is_granted('ROLE_USER') %}
        {% if articles|length > 0  %}
            {% for article in articles %}
                <div>
                    <h3>{{ article.title }}</h3>
                    <h4>{{ article.level }}</h4>
                    <p>{{ article.createdAt|date("m/d/Y") }}</p>
                    <p>{{ article.content }}</p>
                    <p><a href="{{ path('article_index', { 'id': article.id}) }}">Read more</a></p>
                </div>
            {% endfor %}
        {% endif %}
    {% endif %}

{% endblock %}



